# Collection of Markdown snippets

extends markdown

# Project meeting notes template
snippet projectmeeting "Project meeting" b
# Tasks completed last week



# Tasks for next week



# Questions/concerns


endsnippet
